<section class="ffg-canvas">
    <header class="ffg-canvas-header">
        <h2 class="ffg-canvas-title">Team members</h2>
        <section class="view-actions">
            <button class="ffg-btn ffg-btn-green" {{action "toggleInviteUserModal"}} ><span>Invite People</span></button>
        </section>
    </header>

    <div class="view-container">
        {{ffg-loading-spinner}}
    </div>
</section>
