/* project Management /ghost/settings/projects/
/* ---------------------------------------------------------- */


/* project
/* ---------------------------------------------------------- */

.settings-project {
    position: relative;
    display: block;
    padding: 0 45px 0 0;
    border-bottom: var(--lightgrey) 1px solid;
}

.settings-project:hover {
  background: rgb(248, 250, 252);
}

.settings-project .project-edit-button {
    display: block;
    padding: 20px;
    width: calc(100% + 45px);
    text-align: left;
}

.settings-project .project-edit-button.active {
    border-left: 3px solid;
}

.settings-project .label {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.settings-project .label-alt {
    text-transform: uppercase;
}

.settings-project .project-title {
    color: var(--darkgrey);
    font-size: 16px;
    font-weight: normal;
}

.settings-project .project-description {
    margin: 0;
    color: var(--midgrey);
    word-wrap: break-word;
    font-size: 13px;
}

.settings-project .project-accounts {
    position: absolute;
    top: 20px;
    right: 12px;
    color: var(--green);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.project-accounts .accounts-label{
    font-size: 16px;
    display: block;
    font-weight: normal;
    color: var(--midgrey);
}

.project-accounts.accounts-red {
  color: var(--orange);
}

/* project List (Left pane)
/* ---------------------------------------------------------- */

.project-list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    max-width: calc(100% - 350px);
    width: 66%;
    border-right: var(--lightgrey) 1px solid;
}

@media (max-width: 600px) {
    .project-list {
        max-width: 100%;
        width: 100%;
    }

    .settings-project .project-edit-button.active {
        border-left: none;
    }
}

/* Tag Settings (Right pane)
/* ---------------------------------------------------------- */

.project-settings {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    min-width: 350px;
    width: 34%;
    border: none;
    transform: none;
}

.project-settings .no-posts {
    padding: 1em;
}

.project-settings .no-posts h3 {
    text-align: center;
}

.project-settings .settings-menu-pane {
    transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1);
}

@media (max-width: 600px) {
    .project-settings {
        min-width: 0;
        width: 100%;
        transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1);
        transform: translate3d(100%, 0px, 0px);

        transform-style: preserve-3d;
    }

    .project-settings-in {
        transform: translate3d(0px, 0px, 0px);
    }
}
