<header class="modal-header">
    <h1>Invite a New User</h1>
</header>
<a class="close icon-x" href="" title="Close" {{action "closeModal"}}><span class="hidden">Close</span></a>

<div class="modal-body">
    teste
</div>

<div class="modal-footer">
    {{ffg-task-button "Send invitation now" successText="Sent" task=sendInvitation class="ffg-btn ffg-btn-green"}}
</div>
