<div class="ffg-app">
    <div class="ffg-viewport">

        {{#if showNavMenu}}
            {{ffg-nav-menu}}
        {{/if}}

        <main class="ffg-main">
          {{outlet}}
        </main>

        {{ffg-notifications}}
    </div>
</div>
