<section class="ffg-view">
    <header class="view-header">
      <h2 class="view-title">
        {{link-to model.name "projects"}}
        <i class="icon-arrow-right"></i> <span>Features</span>
      </h2>
    </header>

    <div class="view-content">
        {{ffg-loading-spinner}}
    </div>
</section>
