<section class="ffg-view">
    <header class="view-header">
      <h2 class="view-title">
        {{link-to model.name "projects"}}
        <i class="icon-arrow-right"></i> <span>Accounts</span>
      </h2>
    </header>

    <section class="project-list-content">



    </section>

</section>
