<div class="ffg-app">
    <div class="ffg-viewport">

        {{#if showNavMenu}}
            {{ffg-nav-menu}}
        {{/if}}

        <div class="ffg-main">
          {{outlet}}
        </div>
    </div>
</div>
