<h1>Projects</h1>
<h4>Logged: {{session.user.name}}</h4>
{{outlet}}

<ul data-test-project-actives>
  {{#each model as |item|}}
    <li data-test-project-item="item.name">
      <a class="blue red-hover" href="#">{{item.name}}</a>
    </li>
  {{/each}}
</ul>
